.sprints-list{
	margin: 20px;
	padding: 10px;
}

.sprint-item{
	max-width: 90%;
	margin: 20px;
	margin-bottom: 200px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 3px;
}

.participants-list{
	margin: 10px;
}

.sprint-title {
	margin-bottom: 30px;
}

.save-sprint-button{
	margin-left: 400px;
}