<div class="sprints-list">
	<h3>Спрінти: </h3>
	<create-sprint-form sprints="$ctrl.sprints"></create-sprint-form>
	<div class="sprint-item" ng-repeat="sprint in $ctrl.sprints">
		<h4>Назва спрінту: </h4>
		<div class="sprint-title"><strong>{{sprint.name}}</strong></div>
		<h4> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Опис спрінту: </h4>
		<div>{{sprint.description}}{{sprint.description}}{{sprint.description}}{{sprint.description}}</div>
		<h4><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Мета спрінту: </h4>
		<div>{{sprint.goal}}</div>
		<h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Дата початку: </h4>
		<div>{{sprint.beginDate}}</div>
		<h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Дата завершення: </h4>
		<div>{{sprint.endDate}}</div>
		<h4>Учасники спринту: </h4>
		<div class="participants-list" ng-repeat="participant in sprint.participants">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{participant.name}}</span>
			<div>{{participant.role}}</div>
		</div>
		<tasks-list tasks="sprint.tasks"></tasks-list>
	</div>
</div>