$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '../constants';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

 body{
 	background: #ebeff1;
 }

.browserupgrade {
  margin: 0.2em 0;
  color: $primary-text-color;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'components/modal/modal';
@import 'components/navbar/navbar';
@import 'components/oauth-buttons/oauth-buttons';
@import 'states/admin/admin';
@import 'states/main/main';
@import 'states/main/notification/notification.component';
@import '../constants';
@import '../profile/profile';
@import '../project/components/members-list/members-list.component';
@import '../project/components/project-details/project-details.component';
@import '../project/states/create/create';
@import '../project/states/project/project';
@import '../project/states/projects/projects';
@import '../sprint/components/create-sprint-form/create-sprint-form.component';
@import '../sprint/components/create-task-form/create-task-form.component';
@import '../sprint/components/sprints-list/sprints-list.component';
@import '../sprint/components/tasks-list/tasks-list.component';
@import '../sprint/states/sprint/sprint';
/* endinject */
