.executor-name{
	display: inline-block;
	margin: 2px 10px 10px 2px;
	padding: 6px;
	border: 2px solid #3F51B5;
	border-radius: 3px;
}

.create-project-form{
	width: 95%;
}

.addExecutorButton{
	margin: 10px;
}