<form action="" class="form-horizontal create-project-form">
	<div class="form-group">
	    <label for="projectName" class="col-sm-2 control-label">Назва проекту</label>
	    <div class="col-sm-4">
	      <input type="text" ng-model="createCtrl.currentProject.title" class="form-control" id="projectName" placeholder="Назва проекту">
	    </div>
	    <div class="col-sm-6"></div>
 	</div>

 	<div class="form-group">
	    <label for="description" class="col-sm-2 control-label">Опис проекту</label>
	    <div class="col-sm-4">
	      <textarea ng-model="createCtrl.currentProject.description" class="form-control" rows="5" id="description"></textarea>
	    </div>
	    <div class="col-sm-6"></div>
 	</div>

 	<div class="form-group">
	    <label for="deadline" class="col-sm-2 control-label">Дедлайн</label>
	    <div class="col-sm-4">
	      <input type="date" ng-model="createCtrl.currentProject.deadline" class="form-control" id="deadline">
	    </div>
	    <div class="col-sm-6"></div>
 	</div>

 	<div class="form-group">
	    <label for="projectClient" class="col-sm-2 control-label">Клієнт</label>
	    <div class="col-sm-4">
	      <input type="text" ng-model="createCtrl.currentProject.client" class="form-control" id="projectClient" placeholder="Клієнт">
	    </div>
	    <div class="col-sm-6"></div>
 	</div>

 	<div class="form-group">
	    <label for="project-status" class="col-sm-2 control-label">Статус</label>
	    <div class="col-sm-4">
	      <select class="form-control" id="project-status" ng-model="createCtrl.currentProject.status">
			  <option>Планування</option>
			  <option>Аналіз</option>
			  <option>Розробка</option>
			  <option>Підтримка</option>
			</select>
	    </div>
	    <div class="col-sm-6"></div>
 	</div>
<!-- 
 	<div class="form-group">
	    <label for="attachFile" class="col-sm-2 control-label">Файли</label>
	    <div class="col-sm-4">
	    	<input type='file' name='files[]' multiple />
	    </div>
	    <div class="col-sm-6"></div>
 	</div> -->
</form>

 <div class="col-sm-2"></div><button class="btn btn-success" ng-click="createCtrl.createProject()">Створити</button>
