<div class="project-container">
	<div class="project-detail-card">
		<div class="project-details">
			<h3 class="pointer" editable-text="$ctrl.project.name">{{$ctrl.project.name}}</h3>
			<h4>Опис: <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h4>
			<p class="description pointer" editable-textarea="$ctrl.project.description" e-rows="5" e-cols="160"> {{$ctrl.project.description}}</p>
			<h4>Дедлайн: <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h4>
			<span class="pointer highlight" editable-datetime-local="$ctrl.project.deadline">
			{{$ctrl.project.deadline | date: "yyyy-MM-dd, HH:mm:ss"}}</span>
			<h4 class="pointer client" editable-text="$ctrl.project.client">Клієнт: <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{$ctrl.project.client}}</h4>
			<h4>Статус: </h4>
			<span class="pointer highlight" editable-text="$ctrl.project.status">{{$ctrl.project.status}}</span>
		</div>
		<sprints-list sprints="$ctrl.project.sprints" project="$ctrl.project"></sprints-list>
		<button class="btn btn-danger delete-button" ng-click="$ctrl.deleteProject()">Видалити проект</button>
	</div>
</div>
