<div class="project-container">
	<div class="project-detail-card">
		<div class="project-details">
			<button ng-click="$ctrl.addMemberMode=true" ng-show="!$ctrl.addMemberMode"
			 	class="btn btn-success">
				<span class="glyphicon glyphicon-plus" aria-hidden="true">
				</span> Додати учасників
				</button>
			<div ng-show="$ctrl.addMemberMode" class="addMemberBlock form-group">
				<label for="addMemberInput" class="control-label">Введіть емейл користувача</label>
				<input type="text" ng-model="$ctrl.currentAddMember" class="form-control add-member-button" id="addMemberInput">
				<button ng-click="$ctrl.addMember()" class="btn btn-success">Додати</button>
			</div>
			<h3 class="pointer" editable-text="$ctrl.project.name">{{$ctrl.project.name}}</h3>
			<h4>Опис: <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h4>
			<p class="description pointer" editable-textarea="$ctrl.project.description" e-rows="5" e-cols="160"> {{$ctrl.project.description}}</p>
			<h4>Дедлайн: <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h4>
			<span class="pointer highlight" editable-datetime-local="$ctrl.project.deadline">
			{{$ctrl.project.deadline | date: "yyyy-MM-dd, HH:mm:ss"}}</span>
			<h4 class="pointer client" editable-text="$ctrl.project.client">Клієнт: <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{$ctrl.project.client}}</h4>
			<h4>Статус: </h4>
			<span class="pointer highlight" editable-text="$ctrl.project.status">{{$ctrl.project.status}}</span>
		</div>
		<sprints-list sprints="$ctrl.project.sprints" project="$ctrl.project"></sprints-list>
		<button class="btn btn-danger right-button" ng-click="$ctrl.deleteProject()">Видалити проект</button>
		<button class="btn btn-success right-button" ng-click="$ctrl.saveProject()">Зберегти зміни</button>
	</div>
</div>
