.project-detail-card{
	display: inline-block;
	margin: 20px;
	padding: 20px;
	width: 85%;
	border: 1px solid black;
	border-radius: 5px;
	background: #FFFFFF;
}

.project-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.project-details{
	margin: 20px;
	padding: 10px;
}