<div class="projects-container">
	<div class="project-card" ng-repeat="project in projectsCtrl.projects">
		<h3>{{project.name}}</h3>
		<h4>Опис: <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h4>
		<p class="description"> {{project.description}}</p>
		<h4>Дедлайн: <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h4>
		<span class="highlight">{{project.deadline | date: "yyyy-MM-dd, HH:mm:ss"}}</span>
		<h4 class="client">Клієнт: <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{project.client}}</h4>
		<h4>Статус: </h4>
		<span class="highlight">{{project.status}}</span>
		<h4></h4>
		<button class="btn btn-default" ui-sref="project({id: project._id})">Детальніше</button>
		<button class="btn btn-danger" ng-click="projectsCtrl.deleteProject(project)">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
</div>
